<!DOCTYPE html>
<html>
<head>
    <title>FPlot</title>
    <link rel="stylesheet" type="text/css" href="/main.css">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/annotations.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script>
    <script src="scripts/appBundle.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>