@model FizzPlot.Models.Message
@{
    Layout = "_Layout";
}
@{
    await Html.RenderPartialAsync("Partial");
}

<div id="chartContainer"></div>

<script>
    window.addEventListener('load', 
        function () {            
            var appData = {
                charts:[],
                socket:null
            };

            initApp();
            openWebSocket(appData);
        }, false);
</script>